* text=auto eol=lf
*.bat eol=crlf

*.v linguist-language=V
*.vv linguist-language=V
*.vsh linguist-language=V
*.h linguist-language=C
v.mod linguist-language=V
.vdocignore linguist-language=ignore

/site/static/reference/* linguist-vendored
/contrib/* linguist-vendored
/lib/stb/* linguist-vendored
/lib/cgltf.h linguist-vendored
/lib/lzav.h linguist-vendored
/test/* linguist-vendored
/compilers/* linguist-vendored
